@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background-image: linear-gradient(55deg, rgb(42 34 32 / 0.8),rgb(32 40 50 / 0.8));
    background-attachment: fixed;
}

:focus-visible {
    outline: none;
}

.bulge {
    @apply -translate-x-1 -translate-y-1 shadow-keep
}
.unbulge {
    @apply translate-x-0 translate-y-0 shadow-none
}
.handlebar {
    @apply rounded-lg border border-white/30 bg-gray-500/30 backdrop-blur-md overflow-hidden
}